* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #060918;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}
nav a {
    text-decoration: none;
}
nav a h1 {
    width: 150px;
    color: #FEFEFE;
    font-size: 30px;
}
nav a h1 span {
    color: #AEAFB3;
}
nav .fas{
    color: white;
    display: none;
} 
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FEFEFE;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.btn  a{
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px;
    font-size: 5px;
    
}
.home {
    width: 100%;
    margin: auto;
}
.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 30px;
    
}
.second-side {
    color: #AEB0B6;
    flex:  0 0 30%;
    
}
.second-side p {
    width: 500px;
    font-size: 20px;
    line-height: 30px;
}
.first-side {
    width: 67%;
    font-size: 75px;
}
.first-side h1 {
    color: #919BBA;
    
}
.first-side h1 span {
    color: #F6F7;
}
.button-box {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 100px  auto ;
}
.button-box a{
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 18px;
        border-radius: 30px;
}
.explore-btn {
     background: #6919FF;
     border: none;
}
.explore-btn:hover {
    border: 1px solid #fff;
    background: transparent;
    transition: 1s;
}
.cv-btn {
    background: transparent;
}
.cv-btn:hover {
   border: 1px solid #fff;
   background: #6919FF;
   transition: 1s;
}
@media(max-width: 1350px){
    .first-side {
        width: 67%;
        font-size: 55px;
    }
}
@media(max-width: 1110px){
    .first-side {
        width: 67%;
        font-size: 45px;
    }
    .second-side p{
        font-size: 18px;
    }
}
@media(max-width: 950px){
    .head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10px;
        width: 100%;
    }
    
}
.about {
        width: 90%;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 50px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-top: .5px solid #5c5757;
    border-bottom: 0.5px solid #5c5757;
}
.about-col {
    flex-basis: 50%;
    /* padding: 30px 2px; */
    display: flex;
    flex-direction: column;
}
.about-col .image {
    width: 100%;
    height: 80%;
}
.about-col a {
    padding-bottom: 50px;
}
/* .about-col p {
    padding: 15px 0 25px;
} */
.about-col .button{
    text-decoration: none;
    border: 2px solid #6919FF;
    padding: 12px 34px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    margin-bottom: 60px;
    width: fit-content;
    color: #6919FF;
}
.about-col .button:hover {
    border: 1px solid #fff;
    background: #6919FF;
    color: white;
    transition: 1s;
}
.about-col2 {
    gap: 30px;
}
.about-col2  h1{
     color: white;
     font-size: 50px;
}
.about-col2 p {
    color: #919BBA;
    line-height: 30px;
}
.about-col2 p span {
    color: white;
}

.work  {
   display: flex;
   justify-content: center;
   margin-top: 60px;
}
.work  div a{ 
    text-decoration: none;
   border: 2px solid #6919FF;
   padding: 12px 34px;
   font-size: 18px;
   font-weight: 600;
   border-radius: 30px;
   color: #6919FF;
} 
.work div a:hover{
    border: 1px solid #fff;
    background: #6919FF;
    color: white;
    transition: 1s;
}
.sub-heading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.sub-heading div h3 {
   color: white;
   font-size: 40px;
}
.testimonials {
    width: 80%;  
    margin: auto;
    padding-top: 40px;
    text-align: center;
  }
  .testimonials-col {
      flex-basis: 44%;
      border-radius: 10px;
      margin-bottom: 5%;
      border: .5px solid #5c5757;
      text-align: left;
      color: white;
      background: #0C1021;
      padding: 35px;
      cursor: pointer;
      display: flex;
  }
  .testimonials-col div .name {
    display: flex;
    align-items: center;
    text-align: center;
  }
 .name h3 span {
    font-size: 15px;
  }
  .testimonials-col .name img {
      height: 40px;
      margin-left: 5px;
      margin-right: 30px;
      border-radius: 60%;
  }
  .row2 {
    border-top: .5px solid #0a0909;
  }
  .testimonials-col p {
      padding: 0;
      line-height: 30px;
  }
  .testimonials-col h3 {
      margin-top: 15px;
      text-align: left;
  }
  @media(max-width: 700px){
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}
.wrap {
    border-bottom: 0.5px solid #5c5757;
    margin: 40px;
}

.wrapper {
    max-height: 500px;
    display: flex;
    overflow-x: auto;
}
.wrapper .item {
   min-width: 530px;
   height: 500px;
   line-height: 110px;
   text-align: center;
}
.wrapper::-webkit-scrollbar {
    width: 0;
}
.wrapper .item img {
    width: 500px;
    height: 400px;
    border-radius: 30px;
}

.exp {
    color: white;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.experience {
    width: 90%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.side-1 {
    line-height: 40px;
}
.side-1 h1 {
    font-size: 40px;
}
.side-2 h1 {
    font-size: 40px;
    padding-bottom: 20px;
}
.side-1 h2,
.side-1 .ppp {
    padding-left: 70px;
}
.side-2 ul li {
    list-style: none;
    line-height: 25px;
}
.start-p {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.all {
    display: flex;
    color: white;
    background: #0C1021;
    justify-content: space-between;
    padding: 50px 50px;
    border: 1px solid #615757;
    border-radius: 20px;
}
.last button {
    background: #6919FF;
    color: white;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
}
.last button:hover {
    border: 1px solid #fff;
    background: transparent;
    transition: 1s;
}
.footer {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    
}
.foot {
    display: flex;
    color: #919BBA;
    border-top: 0.5px solid #5c5757;
    justify-content: space-between;
    padding: 40px 50px;
}
.right p span {
     color: white;
}
.mid img {
    width: 30px;
}
@media(max-width: 1020px) {
    .row {
        flex-direction: column;
    }
    .exp {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .all {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .all .middle {
        width: 100%;
        text-align: center;
    }
    .wrapper, 
    .wrapper-2 {
        max-height: 400px;
    }
    .wrapper .item,
    .wrapper-2 .item-2 {
       min-width: 360px;
       height: 400px;
    }
    .wrapper .item img ,
    .wrapper-2 .item-2 img{
        width: 350px;
        height: 250px;
        border-radius: 30px;
    }
    .header nav a h1{
        font-size: 20px;
    }
    .first-side {
        width: 90%;
    }
    .second-side {
        width: 90%;
    }
}
@media (max-width: 630px) {
    .nav-links {
        display: none;
    }
    nav .fas {
        display: block;
        color: #fcfafa;
        margin: 22px;
        font-size: 22px;
        cursor: pointer;
    }
}
@media (max-width: 600px) {
    .second-side p{
        width: 350px;
    }
    .first-side {
        font-size: 40px;
    }
    .foot {
        font-size: 10px;
        align-items: center;
        padding: 20px;
    }
    .mid img{
        font-size: 3px;
    }
}
@media (max-width: 500px) {
    .button-box{
        flex-direction: column;
        align-items: center;
    }
}